.place__title {
  display: flex;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: calc(76 / 72 * 100%);
  margin: 0;
  padding: 0;
  align-items: flex-end;
  grid-area: title;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .place__title  {
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    padding: 0 16px 0 16px;
  }
}