.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: calc(18 / 16 * 100%);
  text-decoration: none;
  transition: 0.3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .footer__link {
    font-size: 24px;
  }
}

