.place__paragraph {
  width: 484px;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
  padding: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph  {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph{
    width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph  {
    max-width: 288px;
    margin: 0 16px 25px 16px;
  }
}