.cover {
  margin: 0 auto 92px;
  padding: 0;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    margin: 0 auto 64px;
  }
}